<div class="col-lg-10 offset-lg-1">
  <div class="message-body">
    <div class="message-show">
      <%= render "message" %>
    </div>
    <div class="message-input">
      <%= render "form" %>
    </div>
  </div>
</div>
