/*
 *= require_self
 *= require ./lib/all
 *= require ./lib/font-google
 *= require ./lib/sb-admin-2
 */


@import "font-awesome-sprockets";
@import "font-awesome";

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #cfcfd6;
  }
}