/*
 *= require_self
 *= require ./lib/all
 *= require ./lib/font-google
 *= require ./lib/sb-admin-2
 */


@import "font-awesome-sprockets";
@import "font-awesome";

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #cfcfd6;
  }
}

#course_course_tag {
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  width: 160px;
  color: #33a6cc;
  border-radius: 7px;
  border-color: #d1d3e2;
}

.not_activated{
  background-color: #cad3d5;
}

.btn_width{
  width: 130px;
}
