<% provide :title, "Giỏ hàng" %>
<h2 align="center">Giỏ hàng</h2>

<% if @carts.where(paid: false).blank? %>
  <i class="far fa-frown-open d-flex justify-content-center"></i>
  <%= link_to courses_path, class: "btn btn-success btn-lg btn-block" do %>
    <i class="fas fa-cart-plus"></i>
    <span>Shopping Now!</span>
  <% end %>
<% else %>
  <%= render "cart" %>
<% end %>
