<% provide :title, "Quản lý khóa học" %>

<table id="myTable" width="100%" align="center" class="table table-hover">
  <thead>
    <tr>
      <th onclick="sortTable(0)">Tên khóa học</th>
      <th onclick="sortTable(1)">Đánh giá</th>
      <th onclick="sortTable(2)">Giá tiền</th>
      <th onclick="sortTable(3)">Lượt mua</th>
      <th>Chi tiết</th>
      <% if logged_in? %>
        <th>Mua ngay</th>
      <% end %>
    </tr>
    </thead>
    <ul class="courses">
      <%= render @courses %>
    </ul>
</table>
<%= will_paginate(@courses,
  :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,
  class: "mt-2 ml-1 pagination-sm d-flex justify-content-end")%>
