@import "bootstrap";


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.footer{
  margin-top: 75px;
}

.submit-btn {
  margin-top: 15px;
}

body {
  padding-top: 100px;
}
.fa-frown-open {
  font-size: 400px;
  color: #ffcccc;
}

.fa-hand-point-right {
  font-size: 400px;
  color: blue;
  border-style: dotted;
}

.fa-angry {
  font-size: 300px;
  color: #ffcccc;
}
