@import "bootstrap";

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.submit-btn {
  margin-top: 15px;
}

.fa-frown-open {
  font-size: 400px;
  color: #ffcccc;
}

.fa-hand-point-right {
  font-size: 400px;
  color: blue;
  border-style: dotted;
}

.fa-angry {
  font-size: 300px;
  color: #ffcccc;
}

.message-wr {
  height: 75vh;
}

.messages {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 87%;
  overflow: scroll;
  padding: 20px;
}

.messages-table {
  display: table;
  width: 100%;
}

.message {
  line-height: 1.6;
  display: table-row;
}

.message:last-child {
  margin-bottom: 10px;
}

.message > div {
  display: table-cell;
  padding: 13px 10px 10px;
}

.message-user {
  color: #666;
  font-size: 13px;
  margin-right: 10px;
  vertical-align: top;
}

code {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 9px 15px;
  display: inline-block;
  background-color: #eee;
}

.message-content {
  width: 100%;
}

.message-input {
  background-color: rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  height: 13%;
  padding: 0 5px 5px;
}

.message-input form {
  height: 100%;
}

.message-input textarea {
  height: 100%;
  width: 100%;
}

.message-input input {
  display: none;
}

.card {
  width: 100%;
}
// Layout footer, header, .etc =====================
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pagination-sm {
  .page-link {
    font-size: 12px !important;
  }
}

#body-content {
  padding-bottom: 70px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.dropdown-menu {
  font-size: 12px !important;
}

.footer {
  clear: both;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
// =====================================================

#cart-button {
  margin-top: 20px;
}
